/* RESET */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins',sans-serif;
}

body{
  color:white;
  overflow-x:hidden;
}

/* SAME ANIMATED BACKGROUND */
body::before{
  content:"";
  position:fixed;
  width:200%;
  height:200%;
     background:url("../assests/bg1.jpg");
  /* background: radial-gradient(circle, #0ea5e9, #020617, #020617); */
  animation: moveBg 15s linear infinite;
  z-index:-1;
}

@keyframes moveBg{
  0%{transform:translate(0,0);}
  50%{transform:translate(-25%,-25%);}
  100%{transform:translate(0,0);}
}

/* NAVBAR */
.navbar{
  display:flex;
  justify-content:space-between;
  padding:20px 50px;
  position:sticky;
  top:0;
  backdrop-filter:blur(12px);
  background:rgba(0,0,0,0.4);
}

.navbar ul{
  display:flex;
  list-style:none;
}

.navbar li{
  margin-left:25px;
}

.navbar a{
  text-decoration:none;
  color:white;
  position:relative;
}

.navbar a::after{
  content:"";
  width:0%;
  height:2px;
  background:#38bdf8;
  position:absolute;
  bottom:-5px;
  left:0;
  transition:0.3s;
}

.navbar a:hover::after{
  width:100%;
}
.page{
  padding:100px 20px;
  text-align:center;
}
.contact{
  padding:100px 20px;
  text-align:center;
}

.contact h1{
  font-size:45px;
  background:linear-gradient(to right,#38bdf8,#a78bfa);
  -webkit-background-clip:text;
  color:transparent;
}

/* FORM GLASS */
form{
  max-width:400px;
  margin:40px auto;
  display:flex;
  flex-direction:column;
  gap:15px;
  padding:30px;
  border-radius:15px;
  background:rgba(255,255,255,0.05);
  backdrop-filter:blur(12px);
}

input,textarea{
  padding:12px;
  border:none;
  border-radius:8px;
  background:#0f172a;
  color:white;
}

button{
  padding:12px;
  border:none;
  border-radius:30px;
  background:linear-gradient(45deg,#0ea5e9,#6366f1);
  color:white;
  cursor:pointer;
  transition:0.3s;
}

button:hover{
  transform:scale(1.05);
}
@media(max-width:768px){

  .navbar{
    flex-direction:column;
    align-items:center;
  }

  .navbar ul{
    flex-direction:column;
    gap:10px;
  }

  .page h1,
  .features h1,
  .contact h1{
    font-size:30px;
  }

  .feature{
    width:90%;
  }
}